ANTHROPIC_API_KEY=your_api_key_here
GOOGLE_CREDENTIALS_PATH=credentials/google_credentials.json
GOOGLE_TOKEN_PATH=credentials/token.json
OPENCLAW_url='http://localhost:18789'
OPENCLAW_SECRET=your_openclaw_secret_here
SPREADSHEET_ID=